#navbar-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    align-items: center;
}

#nav-links{
    display: flex;
}

#header-name{
    font-weight: 800;
    min-width: 90px;
    color:rgb(71, 83, 255);

}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    width: 60%;
    /* flex-direction: row; */
    border: 1px solid red;
}